.contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 40px;
    padding-top: 21px;
    padding-bottom: 11px;
    margin-bottom: 64px;

    @media screen and (min-width: 768px) {
        flex-direction: column;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.contacts__item {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
    margin-left: 50px;
    }   

    @media screen and (min-width: 1200px) {
        margin-left: 30px;
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &--large {
        @media screen and (max-width: 767px) {
            font-weight: 500;
            font-size: 34px;
            line-height: 1.11;
            letter-spacing: 0.68px;
            color: $accent-color;
        }

        @media screen and (max-width: 480px) {
            font-size: 28px;
        }
    }

    &--textSize {
        @media screen and (max-width: 767px) {
            font-size: 24px;
        }
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width:767px) {
        display: none;
    }
}