
.menu-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover .icon-menu_button, &:focus .icon-menu_button, 
    &:hover .icon-close_menu, &:focus .icon-close_menu {
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-close_menu {
    display: none;
}

.menu-button.is-open .icon-close_menu {
    display: block;
}

.menu-button.is-open .icon-menu_button {
    display: none;
}

.menu-button.is-open {
    z-index: 3;
    position: fixed;
    right: 15px;
}

.menu-container {
    background-color: $primary-white-color;
    text-align: center;
    
        @media screen and (max-width: 767px) {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 48px;
            padding-bottom: 48px;
            z-index: 2;

            &.is-open {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: fixed;
                height: 100vh;
            }
        }

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
        }
}

.mobile-contacts {
    @media screen and (min-width: 1200px) {
    display: flex;
    }
}

.mobile-socialmedia {
    display: flex;
    margin-left: 40px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-socialmedia__item {
    padding: 0 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);

    &:first-child {
        padding-left: 0;
        border-left: none;
    }
}

.mobile-socialmedia__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.36px;
    color: $accent-color;
    text-decoration: none;

    @media screen and (max-width: 480px) {
            font-size: 12px;
    }
}

